In [1]:
#import all librabries which required
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Social_Network_Ads.csv")

In [3]:
df.head(10)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0
5   27            58000          0
6   27            84000          0
7   32           150000          1
8   25            33000          0
9   35            65000          0

In [4]:
df.dtypes

Age                int64
EstimatedSalary    int64
Purchased          int64
dtype: object

In [5]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [6]:
#import train_test_split function
from sklearn.model_selection import train_test_split

In [7]:
#seperate dependent and independent variable 
X=df.drop("Purchased",axis=1)
y=df[["Purchased"]]

In [8]:
#seperate data into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)

In [9]:
#import Gaussian naive bayes model
from sklearn.naive_bayes import GaussianNB
#create Gaussian classifier model
model=GaussianNB()

In [10]:
#train the model using traning sets
model.fit(X_train,y_train)

C:\Users\HARIHAR\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [11]:
#predict the respones for test datasets
y_pred=model.predict(X_test)

In [12]:
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [13]:
print("accuracy:",metrics.accuracy_score(y_test,y_pred))

accuracy: 0.8333333333333334

In [14]:
test_data_accuracy = accuracy_score(y_pred, y_test)

In [15]:
test_pred=model.predict(X_test)

print(metrics.classification_report(y_test,test_pred))
print(metrics.confusion_matrix(y_test,test_pred))

              precision    recall  f1-score   support

           0       0.86      0.86      0.86        72
           1       0.79      0.79      0.79        48

    accuracy                           0.83       120
   macro avg       0.83      0.83      0.83       120
weighted avg       0.83      0.83      0.83       120

[[62 10]
 [10 38]]